.example-card {
  // max-width: 150px;
  border: white 1px !important;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.buy-button {
  bottom: 0px;
  right: 0px;
}

mat-card-actions {
  bottom: 0px;
  text-align: right;
}