<mat-tab-group class="demo-tab-group">
  <mat-tab label="Hus">
    <div class="demo-tab-content">
      Oversigt over huset
    </div>
  </mat-tab>
  
  <mat-tab label="Stue">
    <div class="demo-tab-content">
      Stue
    </div>  
  </mat-tab>
  
  <mat-tab label="Køkken/alrum">
    <div class="demo-tab-content">
      Køkken
    </div>  
  </mat-tab>
  
  <mat-tab label="Bryggers">
    <div class="demo-tab-content">
      Bryggers
    </div>  
  </mat-tab>

  <mat-tab label="Resultat">
    <div class="demo-tab-content">
      Resultat
    </div>  
  </mat-tab>


</mat-tab-group>