<h2>
  Christian og Michelles 233 kvm trempelhus.
</h2>
<mat-tab-group class="demo-tab-group">
  <mat-tab label="Hus">
    <div class="demo-tab-content">
      <h2>Oversigt</h2>

      <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
          
            <mat-expansion-panel-header>
              <mat-panel-title>
                Mursten
              </mat-panel-title>
              <mat-panel-description *ngIf="!house.bricksInfo.selectedBrick">
                Vælg mursten
              </mat-panel-description>
              <mat-panel-description *ngIf="house.bricksInfo.selectedBrick">
                {{house.bricksInfo.selectedBrick?.brand}} - {{house.bricksInfo.selectedBrick?.model}} 
              </mat-panel-description>
              <mat-panel-description *ngIf="house.bricksInfo.selectedBrick">
                {{calcBricks(house.bricksInfo.selectedBrick) | currency:'DKK '}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-slide-toggle color="primary" [(ngModel)]="stdFilter">Vis kun standard</mat-slide-toggle>

            <div class="grid-container">
              <mat-card *ngFor="let brick of bricks" class="example-card grid-item">
                <div *ngIf="!stdFilter || (stdFilter && brick.standard)">
                  <mat-card-header>
                    <mat-card-title>{{brick.name}}</mat-card-title>
                    <mat-card-subtitle>{{brick.model}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="{{brick.imageUrl}}" alt="Photo of {{brick.name}}">
                  <mat-card-content>
                    <p>
                      {{brick.description}}
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button class="buy-button" color="primary" 
                    (click)="selectBrick(brick)">
                      Vælg {{calcBricks(brick) | currency:'DKK '}}
                    </button>
                  </mat-card-actions>
                </div>
              </mat-card>
            </div>
        </mat-expansion-panel>









        <!-- Trægulve -->
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Trægulve
            </mat-panel-title>
            <mat-panel-description *ngIf="!house.woodFloorInfo.selectedWoodFloor">
              Vælg trægulve
            </mat-panel-description>
            <mat-panel-description *ngIf="house.woodFloorInfo.selectedWoodFloor">
              {{house.woodFloorInfo.selectedWoodFloor?.brand}} - 
              {{house.woodFloorInfo.selectedWoodFloor?.model}} 
            </mat-panel-description>
            <mat-panel-description *ngIf="house.woodFloorInfo.selectedWoodFloor">
              {{calcSquareMeter(house.woodFloorInfo.selectedWoodFloor) | currency:'DKK '}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>Her er endnu ingen billeder af trægulve, men de kunne indsættes.</p>
          <p>Jeres hus indeholder ialt {{ house.woodFloorInfo.totalWoodFloorsNeeded }} kvm trægulv</p>
          <div class="grid-container">
            <mat-card *ngFor="let woodFloor of woodFloors" class="example-card grid-item">
              <div *ngIf="!stdFilter || (stdFilter && woodFloor.standard)">
                <mat-card-header>
                  <mat-card-title>{{woodFloor.name}}</mat-card-title>
                  <mat-card-subtitle>{{woodFloor.model}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{woodFloor.imageUrl}}" alt="Photo of {{woodFloor.name}}">
                <mat-card-content>
                  <p>
                    {{woodFloor.description}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button class="buy-button" color="primary" 
                  (click)="selectWoodFloor(woodFloor)">
                    Vælg {{calcSquareMeter(woodFloor) | currency:'DKK '}}
                  </button>
                </mat-card-actions>
              </div>
            </mat-card>
          </div>
        </mat-expansion-panel>


        <!-- Fliser -->
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fliser
            </mat-panel-title>
            <mat-panel-description>
              Vælg fliser
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            Her kunne du vælge hvilke fliser der skal ligge på alle flise-gulve i huset. 
          </p>
          <p>Jeres hus indeholder ialt 35,6 kvm fliser</p>
        </mat-expansion-panel>


        <!-- Trappe -->
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Trappe
            </mat-panel-title>
            <mat-panel-description>
              Vælg trappe
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            Detaljer om trappen vælges her, hvis huset er mere end 1 plan.
          </p>
        </mat-expansion-panel>

        <!-- Osv -->
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Osv.
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            Vælge ...
          </p>
        </mat-expansion-panel>


      </mat-accordion>

      <div class="result">
        Samlet pris kr. {{calc.calcTotalPrice(house) | currency:'DKK '}}
      </div>
      <div class="result" >
        Heraf pris på tillægskontrakt {{calc.calcTotalPrice(house) - house.basePrice | currency:'DKK '}}
      </div>
    </div>
  </mat-tab>
  
  <mat-tab label="Stue">
    <div class="demo-tab-content">
      Stue
    </div>  
  </mat-tab>
  
  <mat-tab label="Køkken/alrum">
    <div class="demo-tab-content">
      Køkken
    </div>  
  </mat-tab>
  
  <mat-tab label="Bryggers">
    <div class="demo-tab-content">
      Bryggers
    </div>  
  </mat-tab>

  <mat-tab label="Resultat">
    <div class="demo-tab-content">
      Resultat
    </div>  
  </mat-tab>


</mat-tab-group>